$bg-color: #f5f1ed;

$primary-text: #08090a;
$secondary-text: lighten(
  $color: $primary-text,
  $amount: 60%,
);

$primary-color: #454ade;
$secondary-color: #e63462;

// Shared regular buttons styles

@mixin interactiveButton($bg) {
  background-color: darken($color: $bg, $amount: 10%);
}

@mixin baseButton() {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

// colored action buttons
@mixin button($bg: $primary-color) {
  @include baseButton();

  background-color: $bg;
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  @media (hover: hover) {
    &:hover {
      @include interactiveButton($bg);
    }
  }
  &:active {
    @include interactiveButton($bg);
    scale: 0.9;
    filter: saturate(80%);
  }
}
@mixin longButton($bg: $primary-color) {
  @include button($bg);
  padding: 0.5rem 1.5rem;
}

// cross buttons
@mixin crossButton(
  $size: 1rem,
  $color: $secondary-text,
  $activeColor: $secondary-color
) {
  @include baseButton();
  background-color: transparent;
  border: none;
  svg {
    height: $size;
    width: $size;
    fill: $color;
    transition: 0.3s;
  }
  @media (hover: hover) {
    &:hover {
      svg {
        fill: $activeColor;
      }
    }
  }
}
@mixin crossButtonSmall(
  $size: 1rem,
  $color: $secondary-text,
  $activeColor: $secondary-color
) {
  @include crossButton($size, $color, $activeColor);

  border: 1px solid $secondary-text;
  border-radius: 5px;

  padding: calc($size/2);

  @media (hover: hover) {
    &:hover {
      background-color: $activeColor;
      border: 1px solid $activeColor;
      svg {
        fill: white;
      }
    }
  }
}
