@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import "global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: $primary-text;
}

body {
  background-color: $bg-color;
  min-width: 300px;
}

// .wrapper {
// }

//Shared pages styles
.page {
  @media (min-width: 350px) {
    margin: 1rem 8vw;
  }
  // &__header {
  // }
  &__title,
  &__title > span {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    span {
      color: $secondary-color;
    }
  }
  // &__body {
  // }
}
