@import "global";

.storePage_body {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;

  @media (width < 734px) and (width > 551px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
