@import "../global";

.cartItem {
  display: grid;
  grid-template-columns: 33% 2fr auto;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.cartItem__start {
  display: flex;
  justify-content: center;
  align-items: center;
  .cartItem__img {
    max-width: 100%;
    aspect-ratio: 1.2/1;
    object-fit: cover;
    object-position: center;
  }
}

.cartItem__middle {
  display: flex;
  flex-direction: column;
  .cartItem__name {
    font-weight: 600;
    word-break: break-word;
  }
  .cartItem__amount {
    font-size: 0.85rem;
  }
  .cartItem__amount,
  .cartItem__price {
    color: $secondary-text;
    font-weight: 300;
  }
}

.cartItem__end {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .cartItem__removeButton {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid $secondary-text;
    color: $secondary-text;
    border-radius: 5px;
    font-size: 0.75rem;
    height: 2rem;
    width: 2rem;
    transition: 0.3s;
    @media (hover: hover) {
      &:hover {
        background-color: $secondary-color;
        color: white;
        border: 1px solid $secondary-color;
      }
    }
  }
}
