@import "/src/styles/global";

$color: $primary-color;
$indicator: $secondary-color;
$size: 3rem;

@mixin interactive($bg: $color) {
  border: 2px solid $bg;
  background-color: $bg;
  svg {
    fill: white;
  }
}

.cartButton {
  position: relative;

  border-radius: 50%;
  width: $size;
  height: $size;
  padding: 4px;

  background-color: transparent;
  border: 2px solid $color;

  cursor: pointer;

  transition: 0.3s;

  svg {
    fill: $color;
  }

  //Interactions
  @media (hover: hover) {
    &:hover {
      @include interactive();
    }
  }
  &:active {
    @include interactive();
  }

  // Amount indicator
  &__indicator {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);

    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;

    background-color: $indicator;
    color: white;
    font-size: 0.85rem;
  }
}
