@import "/src/styles/global";

.storeItem {
  background-color: white;
  box-shadow: 0 0 10px rgba(185, 185, 185, 0.596);

  display: flex;
  flex-direction: column;

  @media (min-width: 350px) {
    border-radius: 5px;
    overflow: hidden;
  }
}

.storeItemHeader {
  &__img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
  }
}

.storeItemBody {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  grid-auto-rows: 1fr 2fr;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: 500;
  }
  &__price {
    color: $secondary-text;
  }
}

.storeItemActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__amount {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &Text {
      font-weight: 300;
    }
    &Number {
      font-weight: 700;
      font-size: 1.1rem;
    }
  }

  //----Card control buttons
  &__addButton {
    @include longButton();
  }
  &__changeButton {
    @include button();
    height: 2.2rem;
    aspect-ratio: 1/1;
  }
  &__removeButton {
    @include longButton($secondary-color);
  }
}
